*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}


.blue{
    background-color: darkblue;
}

.options{
    display: flex;
    justify-content: space-around;
    width: 800px;
}
